{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-header">
        {{ page.title }}
    </div>
    <div class="card-body">
        <div id="divAlert" class="d-none" role="alert">
          <small id="textDivAlert"></small>
        </div>
        <form id="formState">
            <div class="row mb-3">
                <div class="col-2">
                    <h6 class="text-muted">ID</h6>
                    <input 
                        type="number"
                        min="1"
                        name="id"
                        id="id"
                        class="form-control form-control-sm" 
                        placeholder=""
                        maxlength="10"
                        {% if state %}
                        value="{{ state.id }}"
                        {% else %}
                        value=""
                        {% endif %}
                        required>
                </div>
                <div class="col-4">
                    <h6 class="text-muted">Nombre</h6>
                    <input 
                        type="text"
                        name="name"
                        id="name"
                        class="form-control form-control-sm" 
                        placeholder=""
                        maxlength="45"
                        {% if state %}
                        value="{{ state.name }}"
                        {% else %}
                        value=""
                        {% endif %}
                        required>
                </div>
                <div class="col-4">
                    <h6 class="text-muted">DESCRIPCIÓN</h6>
                    <input 
                        type="text"
                        name="description"
                        id="description"
                        class="form-control form-control-sm" 
                        placeholder=""
                        maxlength="200"
                        {% if state %}
                        value="{{ state.description }}"
                        {% else %}
                        value=""
                        {% endif %}>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <a
            role="button"
            class="btn btn-sm btn-secondary"
            href="/states">
            Volver
        </a>
        <button
            type="submit"
            class="btn btn-sm btn-primary"
            form="formState">
            Guardar Cambios
        </button>
    </div>
</div>
<script type="text/javascript">
    // * * * * ACTIVE * * * * 
    let menuStates = document.getElementById("menuStates");
    menuStates.classList.add("active");

    // * * * * ADD & EDIT * * * * 
    let formState = document.getElementById("formState");
    formState.addEventListener("submit", function(e){
        e.preventDefault();
        let formData = new FormData(this);
        fetch({% if state %} "/states/edit/{{ state.id }}" {% else %} "/states/add" {% endif %}, {
            method: "POST",
            body: formData
        }).then(function(response) {
            return response.json();
        }).then(function(result) {
            let response = result;
            let buttonAlert = document.getElementById("divAlert");
            let textButtonAlert = document.getElementById("textDivAlert");
            buttonAlert.removeAttribute("class");
            buttonAlert.classList.add("alert", "alert-"+response.status);
            textButtonAlert.textContent = response.message;
            function removeAlertFunction() {
                let buttonAlert = document.getElementById("divAlert");
                let textButtonAlert = document.getElementById("textDivAlert");
                buttonAlert.removeAttribute("class");
                textButtonAlert.textContent = "";
            };
            setTimeout(removeAlertFunction, 2000);
        }).catch(function(err) {
            console.log(err);
        });
    });
</script>
{% endblock %}