{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-header">
        {{ page.title }}
    </div>
    <div class="card-body">
        <div id="divAlert" class="d-none" role="alert">
          <small id="textDivAlert"></small>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover display text-center align-middle" style="width:100%">
                <thead class="bg-light">
                    <tr>
                        <th>NOMBRE</th>
                        <th>FECHA CREACION</th>
                        <th>ULTIMA ACTUALIZACION</th>
                        <th>TOKEN</th>
                        <th style="width: 50px;">ITEMS</th>
                        <th style="width: 50px;">USUARIOS</th>
                        <th style="width: 150px;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                    <tr id="tr_{{ customer.id }}">
                        <td>
                            {{ customer.name }}
                        </td>
                        <td>
                            {{ customer._create_time() }}
                        </td>
                        <td>
                            {{ customer._update_time() }}
                        </td>
                        <td>
                            {{ customer.token }}
                        </td>
                        <td>
                            <a class="relation" href="/items/index/{{ customer.id }}">
                                <span title="Ver items asociados">{{ customer.items|length }}</span>
                            </a>
                        </td>
                        <td>
                            <a class="relation" href="/users/index/{{ customer.id }}">
                                <span title="Ver usuarios asociados">{{ customer.users|length }}</span>
                            </a>
                        </td>
                        <td>
                            <a
                                role="button"
                                class="btn btn-sm btn-primary"
                                href="/customers/edit/{{ customer.id }}">
                                Editar
                            </a>
                            <a
                                role="button"
                                id="{{ customer.id }}"
                                class="btn btn-sm btn-danger delete">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <a
            role="button"
            class="btn btn-sm btn-primary"
            href="/customers/add">
            Nuevo Registro
        </a>
    </div>
</div>
<script type="text/javascript">
    // * * * * ACTIVE * * * * 
    let menuCustomers = document.getElementById("menuCustomers");
    menuCustomers.classList.add("active");

    // * * * * DELETE * * * * 
    let buttons = document.querySelectorAll(".delete");
    for (let button of buttons) {
        button.addEventListener("click", function(e) {
            let id = Number(e.target.id);
            fetch("/customers/delete/"+id, {
                method: "DELETE"
            }).then(function(response) {
                return response.json();
            }).then(function(result) {
                let response = result
                let buttonAlert = document.getElementById("divAlert");
                let textButtonAlert = document.getElementById("textDivAlert");
                buttonAlert.removeAttribute("class");
                buttonAlert.classList.add("alert", "alert-"+response.status);
                textButtonAlert.textContent = response.message;
                if(response.status == "success"){
                    let trElement = document.getElementById("tr_"+id);
                    trElement.remove();
                };
                function removeAlertFunction() {
                    let buttonAlert = document.getElementById("divAlert");
                    let textButtonAlert = document.getElementById("textDivAlert");
                    buttonAlert.removeAttribute("class");
                    textButtonAlert.textContent = " ";
                };
                setTimeout(removeAlertFunction, 2000);
            }).catch(function(err) {
                console.log(err);
            });
        });
    };
</script>
{% endblock %}